
.bg {
  margin-left: 20%;
  margin-right: 20%;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 7px;
  font-family: "Open Sans", SemiBold;
  font-size: 16px;
  color: white;
  /* padding: 15px; */
  text-align: center;
  display: flex;
  height: 68px;
}

.category-bg {
  width: 63px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px 0 0 7px;
  font-family: "Open Sans", SemiBold;
  font-size: 11px;
  color: white;
  text-align: center;
  padding-top: 13px;
}

.live-note-content {
  padding: 7px;
  text-align: left;
  overflow: auto;
}

.reactions-container {
  align-self: right;
  height: 45px;
  width: 90px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  align-self: center;
  margin-left: 10px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.reaction {
  align-self: right;
  height: 35px;
  width: 35px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  font-size: 20px;
}

.rotate-180 {
  transform: rotate(180deg);
  padding-top: 3pt;
}