.singlenote {
    border-radius: 14px;
    margin-bottom: 10px;
    box-shadow: 0 6px 5px -3px rgba(64,60,67,.24),8px 0 8px -7px rgba(64,60,67,.24),-8px 0 8px -7px rgba(64,60,67,.24);
    padding-inline: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.notecategory {
    justify-content: space-between;
    display: flex;
}

.awesome {
    color: rgb(226, 204, 0);
    font-weight: bold;
}

.if {
    color: rgb(66, 119, 59);
    font-weight: bold;
}

.why {
    color: rgb(19, 109, 212);
    font-weight: bold;
}

.difficult {
    color: rgb(201, 94, 67);
    font-weight: bold;
}

.useful {
    color: rgb(64, 45, 88);
    font-weight: bold;
}

.collection {
	padding-left: 20px;
	padding-right: 20px;
}

.noteimg {
    width: 95%;
    height: 95%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.noteheader {
    justify-content: space-between;
    display: flex;
}

.coll-category {
    z-index: 1;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 48px;
}

.ant-tag-checkable-checked {
    background-color:rgb(172, 92, 92);
}