.singlenote {
    border-radius: 14px;
    margin-bottom: 10px;
    box-shadow: 0 6px 5px -3px rgba(64,60,67,.24),8px 0 8px -7px rgba(64,60,67,.24),-8px 0 8px -7px rgba(64,60,67,.24);
    padding-inline: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.notecategory {
    justify-content: space-between;
    display: flex;
}

.collection {
	padding-left: 20px;
	padding-right: 20px;
}

.noteimg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}