.bgBar {
  width: 65vw;
  height: 10px;
  background-color: gray;
  border-radius: 1.5px;
  /* position: absolute;
  top: 020px; */
}
.bar {
  position: relative;
  height: 10px;
  background-color: rgba(0, 164, 168, 1);
  border-radius: 1.5px;
}
.bar .controller {
  -webkit-appearance: none !important;
  position: absolute;
  top: 4px;
  margin: 0;
  width: 65vw;
  height: 3px;
  background-color: transparent;
  border-radius: 1.5px;
}
.bar .controller::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 18px;
  height: 18px;

  border: solid 0.5px #e6e6e6;
  border-radius: 50%;
  background-color: white;
}

.timestamp{
  position: absolute;
  top: 12px;
  height: 15px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0);
}

.stepContainer {
  display: flex;
  top: 10px;
  height: 20px;
  width: 65vw;
  align-items: center;
  background-color: rgba(160, 160, 160, 0.616);
  /* justify-content: space-between; */
}

.step {
  position: relative;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 1.5px;
  /* float: left; */
  margin-right: 3px;
  /* flex-shrink: 0; */
}

.noteicon {
  position: absolute;
  transform: translateX(-50%);
}

.notecontainer {
  position: absolute;
  top: -100px;
  left: 10%;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 7px;
  font-family: "Open Sans", SemiBold;
  font-size: 16px;
  color: white;
  text-align: center;
  display: flex;
  height: 68px;
  width: 80%;
}

.categorybg {
  width: 63px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px 0 0 7px;
  font-family: "Open Sans", SemiBold;
  font-size: 11px;
  color: white;
  text-align: center;
  padding-top: 13px;
}

.livenotecontent {
  padding: 7px;
  text-align: left;
  overflow: auto;
  width: 790px;
}

.reactionscontainer {
  align-self: right;
  height: 45px;
  width: 90px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  align-self: center;
  margin-left: 10px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.reaction {
  align-self: right;
  height: 35px;
  width: 35px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  font-size: 20px;
}

.rotate180 {
  transform: rotate(180deg);
  padding-top: 3pt;
}

/* step별 툴팁

.step .tooltip {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 2px 10px;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;

  bottom: 130%;
  left: 50%;
}

.step:hover .tooltip {
  visibility: visible;
}

.step .tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
} */
