.bgBar {
  width: 65vw;
  height: 10px;
  background-color: gray;
  border-radius: 1.5px;
  /* position: absolute;
  top: 020px; */
}
.bar {
  position: relative;
  height: 10px;
  background-color: rgba(0, 164, 168, 1);
  border-radius: 1.5px;
}
.bar .controller {
  -webkit-appearance: none !important;
  position: absolute;
  top: 4px;
  margin: 0;
  width: 65vw;
  height: 3px;
  background-color: transparent;
  border-radius: 1.5px;
}
.bar .controller::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 18px;
  height: 18px;
  border: solid 0.5px #e6e6e6;
  border-radius: 50%;
  background-color: white;
}

.stepContainer {
  display: flex;
  top: 10px;
  background-color: rgba(160, 160, 160, 0.616);
  /* justify-content: space-between; */
}

.step {
  position: relative;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 1.5px;
  /* float: left; */
  margin-right: 3px;
  /* flex-shrink: 0; */
}
